* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

header {
  background: linear-gradient(
    102deg,
    rgba(121, 91, 185, 1) 5%,
    rgba(109, 110, 216, 1) 74%
  );
}

.container {
  width: 95%;
  margin: auto;
}

#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
}

#header h2 {
  font-size: 2rem;
}

#search_box {
  position: relative;
  width: 350px;
}

#search_box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border-radius: 25px;
  outline: none;
}

#grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img {
  width: 380px;
  height: 214px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}
